@page "/"
@using CalcClasses
@using System.Text

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p>I Copied the HTML and CSS from <a href="https://tinyurl.com/mrymw4vf" target="_blank">Google Calculator</a> <br>
    &nbsp; </p>

<div class="TIGsTb">
    <span class="XDTKBd z1asCe dAmgBb" style="height:22px;line-height:22px;width:22px"></span>
    <span class="V8AKPe"></span>
    <div class="xwgN1d XSNERd">
        <div class="XH1CIc">
            <span class="vUGUtc"></span>
        </div>
    </div>
    <div class="fB3vD">
        <div class="jlkklc">
            <div class="z7BZJb XSNERd">
                <span class="qv3Wpe"> @DisplayString </span>
            </div>
        </div>
    </div>
</div>
<div class="SKWP2e">
    <div class="D7XRgb">
        <table class="HOoTuc">
            <tbody>
                <tr>
                    <td class="rfUaPd pno7A" colspan="2">
                        <div class="PaQdxb UpZIS">
                            <div class="XRsWPe MEdqYd bbBmvd">
                                <div @onclick="_calculator.setRad" class="Tqvz7b">Rad</div>
                                <div class="Lm2Tt"></div>
                                <div @onclick="_calculator.setDeg" class="SwDSDf">Deg</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="_calculator.factorial" class="XRsWPe feqqG knVDYb">x!</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="_calculator.inverse" class="XRsWPe feqqG knVDYb">Inv</div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="_calculator.sine" class="XRsWPe MEdqYd Krlpq">sin</div>
                            <div @onclick="_calculator.arcSine" class="XRsWPe MEdqYd rHLwad" style="display:none">
                                sin<sup>−1</sup></div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="_calculator.logarithm" class="XRsWPe MEdqYd Krlpq">ln</div>
                            <div @onclick="_calculator.eToTheX" class="XRsWPe MEdqYd rHLwad" style="display:none">
                                e<sup>x</sup></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="_calculator.charPi" class="XRsWPe MEdqYd">π</div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="_calculator.cosine" class="XRsWPe MEdqYd Krlpq">cos</div>
                            <div @onclick="_calculator.arcCosine" class="XRsWPe MEdqYd rHLwad" style="display:none">
                                cos<sup>−1</sup></div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="_calculator.logarithm" class="XRsWPe MEdqYd Krlpq">log</div>
                            <div @onclick="_calculator.tenToTheX" class="XRsWPe MEdqYd rHLwad" style="display:none">
                                10<sup>x</sup></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="_calculator.eulersNumber" class="XRsWPe MEdqYd">e</div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="_calculator.tangent" class="XRsWPe MEdqYd Krlpq">tan</div>
                            <div @onclick="_calculator.arcTangent" class="XRsWPe MEdqYd rHLwad" style="display:none">
                                tan<sup>−1</sup></div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="_calculator.squareRoot" class="XRsWPe MEdqYd Krlpq">√</div>
                            <div @onclick="_calculator.square" class="XRsWPe MEdqYd rHLwad" style="display:none">
                                x<sup>2</sup></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="_calculator.answer" class="XRsWPe MEdqYd Krlpq">Ans</div>
                            <div @onclickd=" () => CalcRun.random" class="XRsWPe MEdqYd rHLwad" style="display:none">
                                Rnd
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="_calculator.exponentiation" class="XRsWPe MEdqYd">EXP</div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="_calculator.xToTheY" class="XRsWPe MEdqYd Krlpq">x<sup>y</sup></div>
                            <div @onclick="_calculator.yRoot" class="XRsWPe MEdqYd rHLwad" style="display:none">
                                <sup>y</sup>√x
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        @* Next Part of Table *@
        <table class="ElumCf">
            <tbody>
                <tr>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="_calculator.leftParenthesis" class="XRsWPe MEdqYd">(</div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="_calculator.rightParenthesis" class="XRsWPe MEdqYd">)</div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="_calculator.percentage" class="XRsWPe MEdqYd">%</div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="_calculator.allClear" class="XRsWPe MEdqYd">
                                AC
                            </div>
                            <div @onclick="_calculator.clearEntry" class="XRsWPe MEdqYd" style="display:none">
                                CE
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="_calculator.charSeven" class="XRsWPe AOvabd">
                                7
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="_calculator.charEight" class="XRsWPe AOvabd">
                                8
                            </div>
                        </div>
                    </td>
                    <td>
                        <div @onclick="_calculator.charNine" class="PaQdxb A2W7l">
                            <div class="XRsWPe AOvabd">
                                9
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb mF5fo">
                            <div @onclick="_calculator.charZero" class="XRsWPe MEdqYd">
                                ÷
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div @onclick="_calculator.charFour" class="PaQdxb A2W7l">
                            <div class="XRsWPe AOvabd">
                                4
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="_calculator.charFive" class="XRsWPe AOvabd">
                                5
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="_calculator.charSix" class="XRsWPe AOvabd">
                                6
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb mF5fo">
                            <div @onclick="_calculator.multiply" class="XRsWPe MEdqYd">
                                ×
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="_calculator.charOne" class="XRsWPe AOvabd">
                                1
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="_calculator.charTwo" class="XRsWPe AOvabd">
                                2
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="_calculator.charThree" class="XRsWPe AOvabd">
                                3
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb mF5fo">
                            <div @onclick="_calculator.subtraction" class="XRsWPe MEdqYd">
                                −
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div class="XRsWPe AOvabd">
                                0
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb mF5fo G7BHUb">
                            <div @onclick="_calculator.ddecimal" class="XRsWPe AOvabd">
                                .
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb mF5fo G7BHUb">
                            <div @onclick="_calculator.equals" class="XRsWPe UUhRt">
                                =
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb mF5fo">
                            <div @onclick="_calculator.addition" class="XRsWPe MEdqYd">
                                +
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="KO8G4d"> </div>
<div class="x2sU5"> <a class="sAc47b"
        href="?si=ACC90nw1fyLplXVrTWLrPMRLsQrTy-TDlyAJO3N8Str86KoQJ5-T23BIl505guzzLVlpPS5wlr9p7AuDA-QE_KjVz4dF5r3AvS0KkNrCX7p2qEbVj_aVE688ahFlCoQv6zpU1eiHoGQd&amp;sa=X&amp;ved=2ahUKEwi6zIGCi4GLAxUcMEQIHeQYLHoQi78NegQIChAz"
        data-ved="2ahUKEwi6zIGCi4GLAxUcMEQIHeQYLHoQi78NegQIChAz">
        <div> <span>Math Solver<span class="voy5Sd z1asCe LV6CSb"></span></span> </div>
    </a> </div>

@code {
    private string DisplayString { get; set; } = "";
    private Calculator _calculator;

    public void SetUp()
    {
        _calculator = new Calculator();
    }

    public string MakeDisplayString()
    {
        foreach(CharItem item in _calculator)
        {
            DisplayStiring = DisplayString + Convert.ToString(item.GetDisplayString());
        }
    }
}