@page "/"
@using CalcClasses
@using System.Text

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p>I Copied the HTML and CSS from <a href="https://tinyurl.com/mrymw4vf" target="_blank">Google Calculator</a> <br>
    &nbsp; </p>

<div class="TIGsTb">
    <span class="XDTKBd z1asCe dAmgBb" style="height:22px;line-height:22px;width:22px"></span>
    <span class="V8AKPe"></span>
    <div class="xwgN1d XSNERd">
        <div class="XH1CIc">
            <span class="vUGUtc"></span>
        </div>
    </div>
    <div class="fB3vD">
        <div class="jlkklc">
            <div class="z7BZJb XSNERd">
                <span class="qv3Wpe"> @DisplayString </span>
            </div>
        </div>
    </div>
</div>
<div class="SKWP2e">
    <div class="D7XRgb">
        <table class="HOoTuc">
            <tbody>
                <tr>
                    <td class="rfUaPd pno7A" colspan="2">
                        <div class="PaQdxb UpZIS">
                            <div class="XRsWPe MEdqYd bbBmvd">
                                <div @onclick="setRad" class="Tqvz7b">Rad</div>
                                <div class="Lm2Tt"></div>
                                <div @onclick="setDeg" class="SwDSDf">Deg</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="factorial" class="XRsWPe feqqG knVDYb">x!</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="inverse" class="XRsWPe feqqG knVDYb">Inv</div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="sine" class="XRsWPe MEdqYd Krlpq">sin</div>
                            <div @onclick="arcSine" class="XRsWPe MEdqYd rHLwad" style="display:none">
                                sin<sup>−1</sup></div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="logarithm" class="XRsWPe MEdqYd Krlpq">ln</div>
                            <div @onclick="eToTheX" class="XRsWPe MEdqYd rHLwad" style="display:none">
                                e<sup>x</sup></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="charPi" class="XRsWPe MEdqYd">π</div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="cosine" class="XRsWPe MEdqYd Krlpq">cos</div>
                            <div @onclick="arcCosine" class="XRsWPe MEdqYd rHLwad" style="display:none">
                                cos<sup>−1</sup></div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="logarithm" class="XRsWPe MEdqYd Krlpq">log</div>
                            <div @onclick="tenToTheX" class="XRsWPe MEdqYd rHLwad" style="display:none">
                                10<sup>x</sup></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="eulersNumber" class="XRsWPe MEdqYd">e</div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="tangent" class="XRsWPe MEdqYd Krlpq">tan</div>
                            <div @onclick="arcTangent" class="XRsWPe MEdqYd rHLwad" style="display:none">
                                tan<sup>−1</sup></div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="squareRoot" class="XRsWPe MEdqYd Krlpq">√</div>
                            <div @onclick="square" class="XRsWPe MEdqYd rHLwad" style="display:none">
                                x<sup>2</sup></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="answer" class="XRsWPe MEdqYd Krlpq">Ans</div>
                            <div @onclickd=" () => CalcRun.random" class="XRsWPe MEdqYd rHLwad" style="display:none">
                                Rnd
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="exponentiation" class="XRsWPe MEdqYd">EXP</div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="xToTheY" class="XRsWPe MEdqYd Krlpq">x<sup>y</sup></div>
                            <div @onclick="yRoot" class="XRsWPe MEdqYd rHLwad" style="display:none">
                                <sup>y</sup>√x
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        @* Next Part of Table *@
        <table class="ElumCf">
            <tbody>
                <tr>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="leftParenthesis" class="XRsWPe MEdqYd">(</div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="rightParenthesis" class="XRsWPe MEdqYd">)</div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="percentage" class="XRsWPe MEdqYd">%</div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb UpZIS">
                            <div @onclick="allClear" class="XRsWPe MEdqYd">
                                AC
                            </div>
                            <div @onclick="clearEntry" class="XRsWPe MEdqYd" style="display:none">
                                CE
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="charSeven" class="XRsWPe AOvabd">
                                7
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="charEight" class="XRsWPe AOvabd">
                                8
                            </div>
                        </div>
                    </td>
                    <td>
                        <div @onclick="charNine" class="PaQdxb A2W7l">
                            <div class="XRsWPe AOvabd">
                                9
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb mF5fo">
                            <div @onclick="charZero" class="XRsWPe MEdqYd">
                                ÷
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div @onclick="charFour" class="PaQdxb A2W7l">
                            <div class="XRsWPe AOvabd">
                                4
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="charFive" class="XRsWPe AOvabd">
                                5
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="charSix" class="XRsWPe AOvabd">
                                6
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb mF5fo">
                            <div @onclick="multiply" class="XRsWPe MEdqYd">
                                ×
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="charOne" class="XRsWPe AOvabd">
                                1
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="charTwo" class="XRsWPe AOvabd">
                                2
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div @onclick="charThree" class="XRsWPe AOvabd">
                                3
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb mF5fo">
                            <div @onclick="subtraction" class="XRsWPe MEdqYd">
                                −
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="PaQdxb A2W7l">
                            <div class="XRsWPe AOvabd">
                                0
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb mF5fo G7BHUb">
                            <div @onclick="ddecimal" class="XRsWPe AOvabd">
                                .
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb mF5fo G7BHUb">
                            <div @onclick="equals" class="XRsWPe UUhRt">
                                =
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="PaQdxb mF5fo">
                            <div @onclick="addition" class="XRsWPe MEdqYd">
                                +
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="KO8G4d"> </div>
<div class="x2sU5"> <a class="sAc47b"
        href="?si=ACC90nw1fyLplXVrTWLrPMRLsQrTy-TDlyAJO3N8Str86KoQJ5-T23BIl505guzzLVlpPS5wlr9p7AuDA-QE_KjVz4dF5r3AvS0KkNrCX7p2qEbVj_aVE688ahFlCoQv6zpU1eiHoGQd&amp;sa=X&amp;ved=2ahUKEwi6zIGCi4GLAxUcMEQIHeQYLHoQi78NegQIChAz"
        data-ved="2ahUKEwi6zIGCi4GLAxUcMEQIHeQYLHoQi78NegQIChAz">
        <div> <span>Math Solver<span class="voy5Sd z1asCe LV6CSb"></span></span> </div>
    </a> </div>

@code {
    private string DisplayString { get; set; } = "";
    private List<object> CharItems { get; set; } = new List<object>();

    // Special Buttons:
    private void setRad() { CharItems.Add(new Rad()); }
    private void setDeg() { CharItems.Add(new Deg()); }

    // Single Operand Functions:
    private void factorial() { CharItems.Add(new Factorial()); }
    private void inverse() { CharItems.Add(new Inverse()); }
    private void sine() { CharItems.Add(new Sine()); }
    private void arcSine() { CharItems.Add(new ArcSine()); }
    private void naturalLog() { CharItems.Add(new NaturalLog()); }
    private void cosine() { CharItems.Add(new Cosine()); }
    private void arcCosine() { CharItems.Add(new ArcCosine()); }
    private void logarithm() { CharItems.Add(new Logarithm()); }
    private void tenToTheX() { CharItems.Add(new TenToTheX()); }
    private void eToTheX() { CharItems.Add(new EToTheX()); }
    private void arcTangent() { CharItems.Add(new ArcTangent()); }
    private void squareRoot() { CharItems.Add(new SquareRoot()); }
    private void square() { CharItems.Add(new Square()); }
    private void tangent() { CharItems.Add(new Tangent()); }
    private void percentage() { CharItems.Add(new Percentage()); }
    // Class but is it duplicate???
    private void xToTheY() { CharItems.Add(new XToTheY()); }

    // Constaints:
    public void charZero() { CharItems.Add(new CharZero()); }
    public void charOne() { CharItems.Add(new CharOne()); }
    public void charTwo() { CharItems.Add(new CharTwo()); }
    public void charThree() { CharItems.Add(new CharThree()); }
    public void charFour() { CharItems.Add(new CharFour()); }
    public void charFive() { CharItems.Add(new CharFive()); }
    public void charSix() { CharItems.Add(new CharSix()); }
    public void charSeven() { CharItems.Add(new CharSeven()); }
    public void charEight() { CharItems.Add(new CharEight()); }
    public void charNine() { CharItems.Add(new CharNine()); }
    public void charPi() { CharItems.Add(new CharPi()); }
    public void eulersNumber() { CharItems.Add(new EulersNumber()); }


    // Special Buttons:
    public void leftParenthesis() { CharItems.Add(new LeftParenthesis()); }
    public void rightParenthesis() { CharItems.Add(new RightParenthesis()); }
    public void allClear() { CharItems.Add(new AllClear()); }
    public void clearEntry() { CharItems.Add(new ClearEntry()); }
    public void randomNum() { CharItems.Add(new RandomNum()); }
    public void answer() { CharItems.Add(new Answer()); }
    public void equals() { CharItems.Add(new Equals()); }

    // Binary Operators:
    public void exponentiation() { CharItems.Add(new Exponentiation()); }
    public void yRoot() { CharItems.Add(new YRoot()); }
    public void division() { CharItems.Add(new Division()); }
    public void multiply() { CharItems.Add(new Multiply()); }
    public void subtraction() { CharItems.Add(new Subtraction()); }
    public void addition() { CharItems.Add(new Addition()); }
    public void ddecimal() { CharItems.Add(new Ddecimal()); }
}